/* Your custom css code goes here */
footer .fa-arrow-circle-o-up {
    font-size: 36px;
}
.mr10 {
    margin-right: 10px;
}
.jst{
    justify-content: space-between;

}
.fa-facebook-square, .fa-instagram, .fa-youtube-play {
    font-size: 36px;
    width: 15%;
}



@media (max-width: 1200px) {
 .wrapper {
     height: auto!important;
     width: 80%!important;
 }
}
